<template>
    <div class="q-pa-md">
        <div class="text-h6">{{$t('Menu')}}</div>
        <hr/>
        <q-list>
            <q-item v-for="(field, key) in fields" :key="key">
                <q-btn
                    :label="field.label"
                />
            </q-item>
        </q-list>
        <br/>
        <div class="row justify-center">
            <q-btn
                class="round"
                color="primary"
                icon="add"
                @click="createField()"
            />
        </div>
    </div>
</template>
<script>
export default {
    name: 'Menu',
    data () {
        return {
            fields: []
        }
    },
    mounted () {
        this.loadData()
    },
    methods: {
        loadData () {
            this.fields = [
                {
                    label: 'Champs de blé',
                    id: '1'
                },
                {
                    label: 'Champs de houblon',
                    id: '2'
                },
                {
                    label: 'Champs de canne à sucre',
                    id: '3'
                },
                {
                    label: 'Champs de Rhubarbe',
                    id: '4'
                },
            ]
        },
        createField () {
            this.$root.$emit('openModal', ['createField'])
        }
    }
}
</script>
