<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{$t('labels.my_account')}}</div>
    </q-card-section>
    <q-card-actions class="q-pa-md q-gutter-sm justify-around">
      <q-btn
        color="negative"
        @click="logout()"
        :label="$t('labels.log_out')"
      />
      <q-btn
        v-if="showAdminPanel"
        color="secondary"
        @click=""
        :label="$t('actions.admin_panel')"
      />
    </q-card-actions>
  </q-card>
</template>
<script>
export default {
  name: 'MyAccount',
  data () {
    return {
      showAdminPanel: false
    }
  },
  methods: {
    logout () {
      // Remove localStorage
      this.$q.localStorage.remove('token')
      // Emit that user have logout
      this.showAccountInfo = false
      if (this.$router.currentRoute.path !== '/') {
        this.$router.push('/')
      }
    },
    loadData () {
      this.$axios({
        method: 'GET',
        url: 'https://greentech-api.herokuapp.com/user/me',
        headers: {
          token: this.$q.localStorage.getItem('token')
        }
      }).then((response) => {
        this.showAdminPanel = response.data.role === 1
      })
    },
    mounted () {
      this.loadData()
    }
  }
}
</script>
