<template>
  <div>
    <canvas id="example-chart"></canvas>
  </div>
</template>
<script>
import Chart from "chart.js";
import exampleChartData from "./data.js";

export default {
  name: "GraphContainer",
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options
      });
    }
  },
  data() {
    return {
      exampleChartData: exampleChartData
    };
  },
  mounted() {
  console.log(this.exampleChartData)
    this.createChart("example-chart", this.exampleChartData);
  }
};
</script>
<style lang="scss">
  #example {
    
  }
</style>
