<template>
  <q-card>
    <q-card-section class="bg-primary text-white">
      <div class="text-h6">{{$t('vue_titles.add_field')}}</div>
    </q-card-section>
    <q-separator/>
    <q-card-section>
      <div>
        <q-input
          filled
          v-model="fieldName"
          :label="$t('labels.field_name')"
          :hint="$t('hints.enter_field_name')"
        />
      </div>
      <br/>
      <q-badge class="q-mb-lg">{{$t('hints.temperature_level')}} : {{ temp.min }} - {{ temp.max }} </q-badge>
      <q-range
        v-model="temp"
        :min="-20"
        :max="60"
        :step="1"
        :left-label-value="temp.min + '°C'"
        :right-label-value="temp.max + '°C'"
        label-always
      />
      <br/>
      <q-badge class="q-mb-lg">{{$t('hints.humidity_level')}} : {{ hum.min }}% - {{ hum.max }}% </q-badge>
      <q-range
        v-model="hum"
        :min="0"
        :max="100"
        :step="1"
        :left-label-value="hum.min + '%'"
        :right-label-value="hum.max + '%'"
        label-always
      />
    </q-card-section>
    <q-separator/>
    <q-card-actions class="row justify-around">
      <q-btn
        @click="cancel()"
        :label="$t('labels.validate')"
        color="positive"
        class="col-3"
      />
      <q-btn
        @click="validate()"
        :label="$t('labels.cancel')"
        color="negative"
        class="col-3"
      />
    </q-card-actions>
  </q-card>
</template>
<script>
export default {
  name: 'CreateFieldModal',
  data () {
    return {
      fieldName: '',
      temp: {
        min: -20,
        max: 60
      },
      hum: {
        min: 0,
        max: 100
      }
    }
  },
  methods: {
    cancel () {
      this.$root.$emit('close-modal')
    },
    validate () {
      this.cancel()
    }
  }
}
</script>
