<template>
    <q-page>
    </q-page>
</template>

<script>
export default {
  name: 'AdminPage',
  methods: {
    loadData() {
      this.$axios({
        method: 'GET',
        url: 'https://greentech-api.herokuapp.com/user/me',
        headers: {
          token: this.$q.localStorage.getItem('token')
        }
      }).then((response) => {
        console.log(response)
        if (response.data.role !== 1) {
          this.$router.push('/app')
          console.log('Unauthorised')
        }
      })
    }
  },
  mounted() {
    this.loadData()
  }
}
</script>

<style scoped>

</style>
