<template>
    <q-page class="q-pa-md">
      <q-scroll-area
        horizontal
        class="row"
        style="height: 25vh; width: 100%;"
      >
       <div class="row justify-between">
        <FieldIndex
          class="q-ma-lg"
          style="width: 15vw"
          v-for="(field, key) in fields"
          :key="key"
          :field="field"
          v-on:selectField="selectField(field.id)"
        />
       </div>
      </q-scroll-area>
      <GraphContainer></GraphContainer>
    </q-page>
</template>

<script>
import GraphContainer from "components/GraphComponents/GraphContainer"
import FieldIndex from 'components/FieldsComponents/FieldIndex'
export default {
  name: 'PageIndex',
  components: {
    FieldIndex,
    GraphContainer
  },
  data () {
    return {
      fields: [
        {
          id: 1,
          label: 'Champs de blé',
          rate: 80,
          temp: 25
        },
        {
          id: 2,
          label: 'Champs de houblon',
          rate: 70,
          temp: 24
        },
        {
          id: 3,
          label: 'Champs de canne à sucre',
          rate: 50,
          temp: 22
        },
        {
          id: 4,
          label: 'Champs de rhubarbe',
          rate: 40,
          temp: 21
        }
      ]
    }
  },
  methods: {
    selectField (field) {
      console.log(field)
    }
  },
  mounted () {
    if (!this.$q.localStorage.has('token')) {
      this.$root.$emit('notify', ['report_problem', 'negative', 'errors.invalid_token'])
      this.$router.push('/')
    }
  }
}
</script>
