<template>
  <q-dialog
    v-model="openIt"
    transition-show="slide-up"
    transition-hide="slide-down"
    :full-width="fullWidth"
  >
    <CreatFieldModal v-if="modalToOpen === 'createField'"></CreatFieldModal>
  </q-dialog>
</template>
<script>
import CreatFieldModal from './Modals/CreateFieldModal'
export default {
  name: 'ModalGenerator',
  components: {
    CreatFieldModal
  },
  data () {
    return {
      openIt: false,
      modalToOpen: '',
      id: null
    }
  },
  created () {
    // Proc global events
    this.$root.$on('openModal', this.openModal)
    this.$root.$on('close-modal', this.closeModal)
  },
  methods: {
    closeModal () {
      this.modalToOpen = ''
      this.id = null
      this.openIt = false
    },
    openModal (props) {
      this.modalToOpen = props[0]
      this.id = props[1]
      this.openIt = true
    }
  },
  computed: {
    fullWidth () {
      console.log(this.modalToOpen)
      return this.modalToOpen === 'createField'
    }
  }
}
</script>