<template>
  <q-card>
    <q-card-section class="bg-primary text-white">
      <div class="text-h6">{{ $t("labels.sign_up") }}</div>
    </q-card-section>
    <q-card-section class="q-ma-md q-pa-md">
      <div class="fa-align-center">
        <form class="q-pa-md q-gutter-md">
          <div class="row justify-between">
            <q-input
              class="col-3"
              ref="firstname"
              filled
              v-model="firstName"
              :label="$t('labels.first_name')"
              :hint="$t('hints.enter_first_name')"
              type="string"
            />
            <q-input
              class="col-3"
              ref="lastname"
              filled
              v-model="lastName"
              :label="$t('labels.last_name')"
              :hint="$t('hints.enter_last_name')"
              type="string"
            />
            <q-input
              class="col-3"
              ref="mail"
              filled
              v-model="mail"
              :label="$t('labels.mail_address')"
              :hint="$t('hints.enter_mail_address')"
              lazy-rules
              type="email"
              :error-message="$t('errors.enter_mail')"
              :error="!goodMail"
              @blur="checkEmail()"
            />
          </div>
          <div class="row justify-between">
            <div class="col-5">
              <q-input
                ref="pwd1"
                filled
                v-model="pwd1"
                :label="$t('labels.password')"
                :hint="$t('hints.enter_password')"
                :type="isPwd1 ? 'password' : 'text'"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd1 ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd1 = !isPwd1"
                  ></q-icon>
                </template>
              </q-input>
              <br />
              <q-input
                v-if="goodPassword"
                ref="pwd2"
                filled
                v-model="pwd2"
                :label="$t('labels.password')"
                :hint="$t('hints.password_confirm')"
                :type="isPwd2 ? 'password' : 'text'"
                :error="!samePassword"
                :error-message="$t('errors.password_different')"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd2 ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd2 = !isPwd2"
                  ></q-icon>
                </template>
              </q-input>
            </div>
            <div class="column col-5">
              <q-checkbox
                v-model="havePasswordGoodLength"
                disable
                color="info"
                :label="$t('labels.password_length')"
              />
              <q-checkbox
                v-model="havePasswordUpperCase"
                disable
                color="info"
                :label="$t('labels.password_uppercase')"
              />
              <q-checkbox
                v-model="havePasswordNumber"
                disable
                color="info"
                :label="$t('labels.password_number')"
              />
              <q-checkbox
                v-model="havePasswordSpecialCar"
                disable
                color="info"
                :label="$t('labels.password_special')"
              />
            </div>
          </div>
        </form>
      </div>
    </q-card-section>
    <!-- Notice v-close-popup -->
    <q-card-actions align="center">
      <q-btn
        :label="$t('labels.validate')"
        type="submit"
        color="positive"
        icon="send"
        @click="signin()"
        :disable="!goodData"
      />
      <q-btn
        :label="$t('labels.login')"
        color="accent"
        v-close-popup
        @click="login()"
      />
      <q-btn
        icon="close"
        :label="$t('labels.cancel')"
        v-close-popup
      />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: "SignUp",
  data() {
    return {
      firstName: "",
      lastName: "",
      mail: "",
      pwd1: "",
      pwd2: "",
      isPwd1: true,
      isPwd2: true,
      isUsedMail: false
    };
  },
  methods: {
    /**
     * Function to send the form and create an account
     */
    signin() {
      this.$axios({
        method: "post",
        url: "https://greentech-api.herokuapp.com/user/signup",
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        },
        data: {
          firstname: this.firstName,
          lastname: this.lastName,
          email: this.mail,
          password: this.pwd1,
          role: 0
        }
      })
        .then(response => {
          console.log(response);
          this.$root.$emit("notify", [
            "done",
            "positive",
            "messages.account_created"
          ]);
        })
        .catch(() => {
          this.$root.$emit("notify", [
            "report_problem",
            "negative",
            "errors.internal_error"
          ]);
        });
    },
    login () {
      this.$router.push('/')
    },
    /**
     * Function to test is the mail address is already used
     */
    checkEmail() {
      this.isUsedMail = false;
    }
  },
  computed: {
    goodMail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return this.mail.length > 0 && re.test(this.mail.toLocaleLowerCase());
    },
    havePasswordGoodLength() {
      return this.pwd1.length > 8;
    },
    havePasswordUpperCase() {
      const re = /(?=.*[A-Z])/;
      return re.test(this.pwd1);
    },
    havePasswordNumber() {
      const re = /(?=.*\d)/;
      return re.test(this.pwd1);
    },
    havePasswordSpecialCar() {
      const re = /(?=.*\W)/;
      return re.test(this.pwd1);
    },
    goodPassword() {
      return (
        this.havePasswordGoodLength &&
        this.havePasswordNumber &&
        this.havePasswordSpecialCar &&
        this.havePasswordUpperCase
      );
    },
    samePassword() {
      return this.pwd1 === this.pwd2;
    },
    goodData() {
      return (
        this.goodMail &&
        this.goodPassword &&
        this.samePassword &&
        !this.isUsedMail
      );
    }
  }
};
</script>

<style scoped></style>
