<template>
  <q-card
    @click="selectItem"
    class="fieldIndex"
  >
    <q-card-section
      class="bg-primary text-white"
    >
      <div class="text-h6">{{field.label}}</div>
    </q-card-section>
    <q-separator/>
    <q-card-section class="justify-center">
      <div>Température du champ : {{field.temp}}°C</div>
      <q-knob
        disable
        class="knobField"
        show-value
        font-size="15px"
        v-model="field.rate"
        size="90px"
        color="secondary"
        track-color="grey-3"
      >
        {{ field.rate }}%
      </q-knob>
    </q-card-section>
  </q-card>
</template>
<script>
export default {
  name: 'FieldIndex',
  props: ['field'],
  methods: {
    selectItem () {
      this.$emit('selectField')
    },
  }
}
</script>
<style lang="scss">
.fieldIndex,
.disabled, [disabled],
.knobField {
  cursor: pointer !important;
}

.fieldIndex:hover {
  background-color: $grey-2;
}
</style>