<template>
  <div id="q-app">
    <ModalGenerator/>
    <router-view />
  </div>
</template>

<script>
import ModalGenerator from 'components/Modal/ModalGenerator'
export default {
  name: 'App',
  created () {
    this.$root.$on('notify', this.notifyService)
  },
  methods: {
    notifyService (props) {
      this.$q.notify({
        icon: props[0],
        color: props[1],
        message: this.$t(props[2]),
        position: 'top-right'
      })
    }
  },
  components: {
    ModalGenerator
  }
}
</script>
