<template>
  <q-layout view="hHh Lpr lff">
      <q-header elevated>
        <q-toolbar>
          <q-btn flat @click="drawerLeft = !drawerLeft" round dense icon="menu" />
          <q-toolbar-title>Header</q-toolbar-title>
          <q-btn-dropdown
            class="no-drop-down"
            v-model="showMyAccount"
            flat
            icon="account_circle"
          >
            <MyAccount/>
          </q-btn-dropdown>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="drawerLeft"
        :width="200"
        :breakpoint="700"
        elevated
      >
        <Menu/>
      </q-drawer>

      <q-page-container>
        <router-view/>
      </q-page-container>
    </q-layout>
</template>

<script>
import Menu from 'components/LayoutComponent/Menu'
import MyAccount from "components/LayoutComponent/MyAccount";
export default {
  name: 'LoggedLayout',
  components: {
    MyAccount,
    Menu
  },
  data () {
    return {
      drawerLeft: false,
      showMyAccount: false
    }
  }
}
</script>
