<template>
    <q-layout view="lHh Lpr lFf">
        <q-page-container style="padding-top: 20vh">
            <router-view/>
        </q-page-container>
    </q-layout>
</template>
<script>
export default {
    name: 'UnloggedLayout'
}
</script>